body{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counterProgram{
background-color: rgb(60, 60, 60);
text-align: center;
width: 50%;
}

#Heading{
  color: rgb(24, 113, 255);
  font-family: Arial, Helvetica, sans-serif;
}

#theCount{
  display: block;
  font-size: 10em;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.buttons{
  padding: 10px 20px;
  font-size: 1.5em;
  color: white;
  background-color: rgb(24, 113, 255);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.25s;
  margin-bottom: 30px;
  margin-left: 20px;
}

.buttons:hover{
  background-color:  rgb(0, 37, 97);
}